# Configuration file

~CONFIG_VERSION: 0.1.0

world-804704861 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=木
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1544803905 {
    S:filterText=
}


world805325770 {
    # 当且仅当启用配方书签时，允许使用其进行自动合成。
    B:autocraftingEnabled=true

    # 在打开的界面旁显示书签列表。
    B:bookmarkOverlayEnabled=true

    # 给予物品而非显示其配方。
    B:cheatItemsEnabled=false

    # 在界面中点击流体原料时，用于填充流体的默认物品（格式：item_name@meta）
    S:defaultFluidContainerItem=

    # 在列表中点击原料以隐藏或取消隐藏。
    B:editEnabled=false
    S:filterText=

    # 在打开的界面旁显示原料列表。
    B:overlayEnabled=true

    # 当且仅当启用配方书签时，允许使用其进行自动合成。
    B:recipeBookmarksEnabled=true
}


world823953130 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


