# Configuration file

~CONFIG_VERSION: v0.56.7

counters {
    I:lastGridStorage=25
    I:lastPlayer=1
}


gridstorage {
    S:0=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:15=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:9=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
}


orderedvalues {
    I:presses=1
}


players {
    I:31c4910d-9b69-4725-8969-9ed53ac8a7dc=0
}


